/* Estilo global */
/* body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
} */

/* Container principal */
.container {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  /* max-width: 600px; */
  /* width: 90%; */
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ajusta para ocupar a altura total da tela */
  overflow: hidden;
  margin: 3%;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    height: 100vh;
  }
}

/* Estilos para botões */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

button.aiWithActive {
  background-color: #28a745;
}

/* Input de texto */
input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Input de arquivo */
input[type="file"] {
  padding: 10px;
  margin-bottom: 10px;
}

/* Estilo para a imagem */
img {
  border-radius: 8px;
  margin-top: 20px;
  max-width: 100%; /* Garante que a imagem não ultrapasse a largura da tela */
}

/* Estilo para o texto de resposta */
p {
  color: #333;
  font-size: 16px;
  margin-top: 20px;
}

/* Box de chat */
.chat-box {
  flex: 1;
  overflow-y: auto; /* Permite rolagem vertical */
  margin-bottom: 20px;
  padding: 10px;
  background-color: #e9e9eb;
  border-radius: 8px;
  max-height: 70vh; /* Define um limite máximo de altura para o chat box */
}
/* Estilo para as mensagens */
.message {
  background-color: #dcf8c6;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: left;
}
